html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    background-color: black;
    background-size: cover;
}

.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: all .07s ease;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    background: white;
    text-align: center;
    text-shadow: 0 0 .5rem black;
    text-transform: uppercase;
    padding: .1rem .5rem;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }